<footer id="site-footer" class="nav-white-desktop" role="contentinfo">

    <div id="footer-wave"></div>

    <div class="footer-bg">

        <div class="footer-inner container-xl">

            
    <div class="footer-top">
        <div class="row">

            <div class="ft-col-1 col-sm-12 col-lg-4">
                                    <div class="widget widget_text"><div class="widget-content">			<div class="textwidget"><h4>Discord Chatters Community</h4>
<p>Creating Success Stories t, we aim to create the most master-peaced Server  available on the market.</p>
</div>
		</div></div>                            </div>

            <div class="ft-col-2 col-sm-12 col-lg-4">
                                    <div class="widget widget_text"><div class="widget-content"><h4 class="widget-title">Contact Us</h4>			
                                        <div class="textwidget">
                                            <!-- <p>202 Helga Springs Rd, Crawford, TN 38554</p> -->
<p>Reach us on twitter: <strong><a href="https://twitter.com/DiscordChatters?t=zysyTgkKj2mZWTZJ9-FqsA&s=08">@discordchatters</a></strong></p>
<p>Reach us on discord: <strong><a href="#"> ACCESSS#3872</a></strong></p>
<p>Email us: <a href="mailto:discordchatterscommunity@gmail.com">discordchatterscommunity@gmail.com</a></p>
</div>
		</div></div>                            </div>

            <div class="ft-col-3 col-lg-4">
                                    <div class="widget widget_mc4wp_form_widget"><div class="widget-content"><h4 class="widget-title">Get in touch with us</h4><script>(function() {
	window.mc4wp = window.mc4wp || {
		listeners: [],
		forms: {
			on: function(evt, cb) {
				window.mc4wp.listeners.push(
					{
						event   : evt,
						callback: cb
					}
				);
			}
		}
	}
})();
</script><!-- Mailchimp for WordPress v4.8.7 - https://wordpress.org/plugins/mailchimp-for-wp/ --><form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-2016" method="post" data-id="2016" data-name="Marinio" ><div class="mc4wp-form-fields"><div class="theme-mailchimp">
  <div class="theme-mailchimp-fields">
    <!-- <input type="email" name="email" placeholder="Your e-mail adress"  />
    <input value="Subscribe" /> -->
  </div>
  <!-- <p>Sign up with your email address to receive news and updates</p> -->
</div></div><label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" /></label><input type="hidden" name="_mc4wp_timestamp" value="1650836029" /><input type="hidden" name="_mc4wp_form_id" value="2016" /><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" /><div class="mc4wp-response"></div></form><!-- / Mailchimp for WordPress Plugin --></div></div>                            </div>

        </div>
    </div>


            <div class="footer-bottom">

                <div class="footer-credits">

                    <p class="footer-copyright">Copyright &copy;2022 <a href="mailto:markothedevmail@gmail.com">@markothedev</a>. All rights reserved. 
                    </p><!-- .footer-copyright -->

                </div><!-- .footer-credits -->

                <nav class="footer-menu-wrapper" aria-label="Footer" role="navigation">
                    <ul class="footer-menu">
                        <li id="menu-item-2007" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-2007"><a href="{% url 'indexView' %}" aria-current="page">Home</a></li>
<!-- <li id="menu-item-2005" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2005"><a href="about-us/index.html">About Us</a></li> -->
<li id="menu-item-2008" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2008"><a href="{% url 'contact' %}">Contact Us</a></li>
                    </ul>
                </nav>

            </div><!-- .footer-bottom  -->

        </div><!-- .footer-inner -->

    </div>

</footer><!-- #site-footer -->
